.ipynb_checkpoints/Capstone Canvas-checkpoint.ipynb
.ipynb_checkpoints/Capstone Development-checkpoint.ipynb
.ipynb_checkpoints/Capstone Project Solution-checkpoint.ipynb
.ipynb_checkpoints/Capstone Project-checkpoint.ipynb
.ipynb_checkpoints/Seaborn Project-checkpoint.ipynb
.ipynb_checkpoints/capstone-checkpoint.ipynb
.ipynb_checkpoints/global_data_capstone-checkpoint.ipynb
.ipynb_checkpoints/global_data_capstone_solution-checkpoint.ipynb
.ipynb_checkpoints/global_data_capstone_solution2-checkpoint.ipynb
.ipynb_checkpoints/life_expectancy_gdp-checkpoint.ipynb
